/* Demo Component Styles */

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.viewport {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.background2 {
  color: white;
  background-color: #707070;
}

.demoH1 {
  text-align: center;
  font-size: xx-large;
}

.demoGIF {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
}
