.background2 {
  color: black;
  background-color: #707070;
}

[data-theme="dark"] .background2 {
  color: white;
}

.about {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10% 5%;
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    padding: 5% 8%;
  }
}

.aboutViewport {
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    height: auto;
    min-height: 100vh;
    padding-bottom: 4rem;
  }
}

.aboutSection1,
.aboutSection2,
.aboutSection3,
.aboutSection4,
.aboutSection5 {
  padding: 5%;
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  @media screen and (max-width: 1024px) {
    background-color: rgb(14, 68, 129, 0.5);
    @media screen and (max-width: 1024px) and (orientation: portrait) {
      padding: 3%;
      margin: 1%;
      @media screen and (max-width: 390px) {
        padding: 4%;
        margin: 0.5%;
      }
    }
  }
}

[data-theme="dark"] .aboutSection1,
[data-theme="dark"] .aboutSection2,
[data-theme="dark"] .aboutSection3,
[data-theme="dark"] .aboutSection4,
[data-theme="dark"] .aboutSection5 {
  background-color: rgba(38, 38, 38, 0.7);
}

.aboutSection1 {
  grid-area: section-1;
}

.aboutSection2 {
  grid-area: section-2;
}

.aboutSection3 {
  grid-area: section-3;
}

.aboutSection4 {
  grid-area: section-4;
}

.aboutSection5 {
  grid-area: section-5;
}

.aboutGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "section-1 section-1 section-2 section-2 section-3 section-3"
    ". section-4 section-4 section-5 section-5 .";
  align-items: center;
  align-content: stretch;
  justify-items: center;
  justify-content: stretch;
  text-align: center;
  height: fit-content;
  row-gap: 5%;

  @media screen and (max-width: 1024px) and (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3"
      "section-4"
      "section-5";
    gap: 2%;
    @media screen and (max-width: 390px) {
      gap: 1%;
    }
  }
}

.aboutGrid > * {
  justify-self: center;
  align-self: stretch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutHeader {
  @media screen and (max-width: 1920px) {
    font-size: 1.75rem;
    @media screen and (max-width: 1024px) {
      font-size: 1.5rem;
      @media screen and (max-width: 390px) {
        font-size: 1.2rem;
      }
    }
  }
}

.aboutText {
  font-size: 1.5rem !important;
  margin-block-start: 0;
  margin-block-end: 0;
  @media screen and (max-width: 1920px) {
    font-size: 1.3rem !important;
    @media screen and (max-width: 1512px) {
      font-size: 1.1rem !important;
      @media screen and (max-width: 1024px) and (orientation: landscape) {
        font-size: 0.8rem !important;
        @media screen and (max-width: 390px) {
          font-size: 0.9rem !important;
        }
      }
    }
  }
}

.aboutIcon {
  padding-right: 2rem;
}

.showForMobile {
  display: none;
  @media screen and (max-width: 1024px) {
    display: block;
  }
}
